<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Omeliukh</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
<h1 class="TitleHobby">My hobby</h1>

<div class="skill-row">
  <!--<img class="hobby" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ee8d6375787155.5c56de5bdb55a.jpg" alt="reading-img">
  <img class="hobby" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e8758575787155.5c56de5bdb854.jpg" alt="">-->
  <table>
    <tr>
      <!-- <td><img class="hobby" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_632/12f0d325194651.56342b1696358.jpg" alt=""></td> -->
      <td><img class="couple" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/c2c829127829735.6149fe788338a.jpg">
        </td>
      <td>
        <div class="paragraph-text">
        <h2>Spending time with my friends</h2>
        <p>Good friends are good for my health. Friends can help you celebrate good times and provide support during bad times. Friends prevent loneliness and give me a chance to offer needed companionship, too.</p>
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="skill-row">
  <table>
    <tr>
      <td>
        <h2>Personal development</h2>
        <p>Personal development consists of activities that develop a person's capabilities and potential, build human capital, facilitate employability, and enhance quality of life and the realization of dreams and aspirations.</p>
    </td>
    <td><img class="girl-gif" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/17f5c697105339.5ebd5f6a744cf.gif" alt=""></td>
    </tr>
  </table>
</div>
<div class="blocks"><%- include ('blocks/header') %></div>

  </body>
</html>
