<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Iryna Omeliukh</title>
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
    

  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Страницы с информацией</title>
  <style>
    body {background-color: #caddda;}
    .block {text-align: center; width: 70%; margin-left: 15%}
    h1 {color: #111111; font-size: 3.5em}
    p {color: #494949; font-size: 1.2em}
  </style>
</head>
<body>
  <%- include ('blocks/header') %>

  <div class="block">
    <h1>Основна Страница с информацией про нас</h1>
    <p>Здесь вы можете прочитать немного инормации по поводу нас, а также прочесть этот полностью не имеющий смысл текст, но зато красиво написанный!</p>
  </div>
</body>
</html>
