<!DOCTYPE html>
<html lang="en" dir="ltr">
<ul>
  <li>
    <a href="/">Me</a>
  </li>
 <li>
   <a href="/Lolly">My Dog</a>
   </li>
   <li>
     <a href="/hobby">My hobby</a>
   </li>
   <!-- <li>
     <a href="/form">Form</a>
   </li> -->
</ul>
</html>
